
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Allow public read access to all product images
    match /products/{allPaths=**} {
      allow read: if true;
      // Only allow admin users to write (upload, update, delete) to the products folder.
      allow write: if request.auth != null && request.auth.token.isAdmin == true;
    }

    // Allow a user to write to the reviews folder only if the path contains their own UID.
    match /reviews/{productId}/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
